@font-face {
    font-family: custom;
    src: url("assets/Gaegu-Regular.ttf");
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: custom;
    text-decoration: none;
    font-size: 20px;
}

.container {
    padding: 6px 13px;
    text-align: center;
    margin-top: 225px;
}

.container2 {
    padding: 6px 13px;
    text-align: center;
}

button {
    appearance: none;
    background-color: #FAFBFC;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-family: custom;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 6px 16px;
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
}
